<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=1.0, minimum-scale=1.0, maximum-scale=1.0">
    <title>Booking Car</title>
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.13.0/css/all.css">
    <link rel="stylesheet" type="text/css" href="/css/booking.css" />
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.1/css/bootstrap.min.css"/>
    <link rel="shortcut icon" href="/images/favicon.ico" type="image/x-icon">
</head>
<body>
<header>
    <div class="main">
        <div class="logo">
            <a href="/home/main"><img src="/images/care_logo.png" style="padding: 20px"></a>
        </div>
        <ul>
            <li><a href="/home/main">HOME</a></li>
            <li><a href="/home/book">BOOK</a></li>
            <li><a href="/home/about">ABOUT</a></li>
            <li><a href="/home/service">SERVICE</a></li>
            <li><a href="/home/contact">CONTACT</a></li>
            <li><a href="/home/profile" style="background: none"><i class="fas fa-user-circle"></i><%=user.first_name%></a></li>
            <a href="/"><span type="submit"><i class="fas fa-sign-out-alt" style="color: white"></i></span></a>
        </ul>
    </div>
            <form action="/home/book" method="post">
            <p class="bill">THÔNG TIN ĐƠN HÀNG</p>
            <p class="alert alert-warning col-sm-12 size1">Nếu thời gian thuê ít hơn 5 tiếng thì thành tiền bằng <b>50%</b> đơn giá. Các trường hợp khác đều tính theo ngày! </p><br>
            <table>
                <tr>
                    <td><span class="fields">Tên chủ xe:</span><span id="name" style="font-size: 20px;color: white"> <%=car.Name%></span></td>
                    <td colspan="2"><span class="fields space">Số điện thoại chủ xe:</span><span id="sdt" style="font-size: 20px;color: white"> <%=car.SDT%></span></td>
                </tr>
                <tr>
                    <td><span class="fields">Mẫu xe:</span><span id="model" style="font-size: 20px;color: white"> <%=car.Model%></span></td>
                    <td><span class="fields space">Thời gian khởi hành: </span><span id="start" style="font-size: 20px;color: white"> <%=date1update%></span></td>
                </tr>
                <tr>
                    <td><span class="fields">Chỗ ngồi:</span><span id="seats" style="font-size: 20px;color: white"> <%=car.Seats%></span></td>
                    <td><span class="fields space">Thời gian kết thúc: </span><span id="end" style="font-size: 20px;color: white"> <%=date2update%></span></td>
                </tr>
                <tr>
                    <td><span class="fields">Màu xe:</span><span id="color" style="font-size: 20px;color: white"> <%=car.Color%></span></td>
                    <td><span class="fields space">Đơn giá thuê: </span><span id="dongia" style="font-size: 20px;color: white"> <%=unit + ' VND'%></span></td>
                </tr>
                <tr>

                </tr>
                <tr>
                    <td colspan="2"><span class="fields">Biển kiểm soát:</span><span id="bks" style="font-size: 20px;color: white"> <%=car.BKS%></span></td>
                </tr>
                    <td colspan="2"><span class="fields">Tổng phí thuê: </span><span id="total" style="font-size: 20px;color: white"> <%=total%></span></td>

            </table>
                <br><span><img src="<%=car.img%>" style="width: 700px; height: 450px; border-radius: 10px;"> </span><br>
            <br><br><span class="alert alert-info size2">Thành tiền: </span><span id="money" class="alert alert-danger size2"><%=money%></span><br>
                <br><br><br><span><img src="/images/care_logo.png" class="circle"></span><br><br><span class="alert alert-info size2 move" style="background-color: white; font-size: 18px; font-weight: bold">Cám ơn bạn đã tin tưởng! Chúng tôi sẽ sớm liên lạc với bạn.</span>
            </form>

</header>
<script src="/js/booking.js"></script>
</body>
</html>